#topo{
    width: 100%;
    height: 30px;
    background-color: rgb(39, 160, 160);

}
.largurasite{
    width:980px;
    height:auto;

}

#img1{
    float: left;
}

#menu{
   float: right;
   width: auto;
   height: auto;

}

#menu a{
    color: cornsilk;
    fon: size 16px;
    text-decoration:none;
    margin-left:50px;
}
#menu a:hover{
    text-decoration:underline;
}
#Largurasite home homedir{
    float: rigth;
}
#largurasite home homeesq{
    float: left;
}

.conteudo{
    float: 100%;
    width: auto;
    height: left;
    border-bottom: 1px solid teal;
 
}
.imgleft{
    float: left;
}
h1{
    font-size:  30px;
    color:turquoise
}
p{
    font-size: 18px;
    color: rgb(51, 0, 51);
}
.imgright{
    float: right;
{

h1,h2    
}
input[ty]